<h1>Welcome, <%=@user.username%></h1>
<%if @session[:deposit_succesful]%>
<h3>Deposit done.</h3>
<img src="https://i.imgflip.com/z2zwf.jpg">
<%elsif @session[:withdraw_done]%>
<h3>Withdraw succesful. Now don't spend it all at once!</h3>
<img src="http://comicsalliance.com/files/2012/12/shacktown05.jpg">
<%else%>
<p>We are currently working on your account.</p>
<%end%>
<p>Your account balance is: £<%=@user.balance%></p>

<form method="POST" action="/deposit">
   <input id="hidden" type="hidden" name="_method" value="patch">
   <p>Make a deposit: £<input type="text" name="deposit">
   <input type = "submit" value = "Deposit"></p>
</form>

<form method="POST" action="/withdrawal">
   <input id="hidden" type="hidden" name="_method" value="patch">
   <p>Take some dough out: £<input type="text" name="withdrawal">
   <input type = "submit" value = "Withdraw"></p>
</form>

<p><a href="/logout">Log Out</a></p>
