<h1>Welcome <%= @user.username %></h1>
<h3>Your current balance: <%= @user.balance %></h3>

<% if @warning %>
  <h2><%= @warning %>, Not enough funds!</h2>
<% end %>

<form action="/bal_update" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>
    <label>Add Coins: </label>
    <input type="radio" name="coins" value="add" checked>
    <label>Remove Coins: </label>
    <input type="radio" name="coins" value="remove">
  </p>
  <p>
    <label for="amount">Amount: </label>
    <input type="number" name="user[amount]">
  </p>
  <input type="submit" value="Submit">
</form>

<p><a href="/logout">Log Out</a></p>
