<p>We are currently working on your account.</p>

<h1>Welcome <%= @user.username %></h1>
<h3>Your current balance: <%= @user.balance %></h3>


<% if @warning %>
  <h2 style="color: red;"><%= @warning %>, Not enough funds!</h2>
<% end %>

<a href="/edit">Click to add or withdraw funds</a>

<p><a href="/logout">Log Out</a></p>
